<footer class="page__footer">
    <div class="page__container">
        <p class="sign-off text-center">
            Shinobi is property of Shinobi Systems
        </p>
    </div>
</footer>
<% include ../globalFooter.ejs %>